body {
	font-family:"Helvetica";
}

.logo {
	
}

.table {
	width:100%;
}

.menuButton {
	border-style:solid;
	border-radius:3px;
	border-color:#000000;
	border-width: 1px;
	color:black;
	Margin-left:2px;
	Margin-right:2px;
	padding-right:1px;
	padding-left:1px;
	background-color:#F0F0F0;
	cursor: pointer; 
	cursor: hand; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuButton:hover {
	background-color:#AAAAAA;
}

.menuButton:active {
	background-color:#888888;
}

#menuButtons {
	background-color:#E0E0E0;
	height:20px;
	width:90vw;
	Padding-top:2px;
}

.navButton {
	border-style:solid;
	border-radius:5px;
	border-width: 2px;
	color:black;
	Margin-left:2px;
	Margin-right:2px;
	padding-right:1px;
	padding-left:1px;
	background-color:#F0F0F0;
	cursor: pointer; 
	cursor: hand; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navButton:hover {
	background-color:#DDDDDD;
	cursor: pointer; 
	cursor: hand; 
}

.navButton:active {
	background-color:#888888;
}

#playerShip {
	/* background-color:#DDFFFF;*/
	background-color:#000000;
	color:#DDD;
	font-size:1.7vmin;
	height:27vh;
	width:45vw;
	Padding-top:2px;
	float:left;
	text-align:left;
}

#enemyShip {
	/* background-color:#FFDDFF;*/
	background-color:#000000;
	color:#DDD;
	font-size:1.7vmin;
	height:27vh;
	width:45vw;
	Padding-top:2px;
	float:left;
	text-align:right;
}

.combatBar {
	/* background-color:#DDFFFF;*/
	background-color:#000000;
	color:#DDD;
	font-size:1.7vmin;
	height:20px;
	width:22.5vw;
	Padding-top:2px;
	float:left;
}

.visible {
	color:rgba(255,255,255,1);
	transform: translate(0,-5px);
}        
/* Fade-Out Effect */
.hidden{
	color:rgba(0,0,0,0);
	transition: color 2s linear;
}  

.shiftup {
    transform: translate(0,-100px);
    -webkit-transform: translate(0,-100px);
    -o-transform: translate(0,-50px); 
    -moz-transform: translate(0,-50px);
	    position: relative;
    transition: all 1.5s linear;
    -webkit-transition: all 1.5s linear; /** Chrome & Safari **/
    -moz-transition: all 1.5s linear; /** Firefox **/
    -o-transition: all 1.5s linear; /** Opera **/
}

#playerShields {
	text-align:left;
}

#playerLog {
	background-color:rgba(0,0,0,0);
	text-align:center;
}

#enemyShields {
	text-align:right;
}

#enemyLog {
	text-align:center;
	background-color:rgba(0,0,0,0);
}

#resources {
	background-color:#E0E0E0;
	height:20px;
	width:90vw;
	Padding-top:2px;
	clear:both;
	text-align:left;
}

#navPanel {
	/* background-color:#FFFFDD;*/
	height:400px;
	width:11.25vw;
	Padding-top:2px;
	font-size:1.8vmin;
	float:left;
	text-align:left;
	line-height:150%;
}

#mainPanel {
	/*background-color:#FFDDDD;*/
	height:400px;
	width:56.25vw;
	Padding-top:2px;
	font-size:1.9vmin;
	float:left;
	text-align:left;
	line-height:120%;
}

#logPanel {
	background-color:#EEEEFF;
	height:400px;
	width:22.5vw;
	padding-top:2px;
	font-size:1.6vmin;
	float:left;
	text-align:center;
	color:#707070;
}

#logPanel:first-line {
	font-size:100%;
}

strong {
	color:black;
}

#bottomBar {
	background-color:#E0E0E0;
	height:20px;
	width:90vw;
	Padding-top:2px;
	clear:both;
	text-align:center;
}

.shipSystem {
	border-style:solid;
	border-radius:4px;
	border-width: 1px;
	border-color: #C0C0C0;
	background-color: #DDDDDD;
	cursor: pointer; 
	cursor: hand; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	padding:1px;
}

.shipSystem:hover {
	background-color:#AAAAAA;
}

.selectedSystem {
	border-style:solid;
	border-radius:5px;
	border-width: 2px;
	border-color:#A00000;
	border-width: 2px;
	color:black;
	background-color:#CCAAAA;
	cursor: pointer; 
	cursor: hand; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerDamageText {
	position: absolute;
    left: 20px;
    top: 50px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}